/* app css stylesheet */

body {
    padding-top: 20px;
}

a {
    color: #3F3F3F;
    font-weight: bold;
}

.number {
    margin: auto 0;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #EDEEFF;
    height: 60px;
    text-align: center;
}

.number .num {
    font-weight: bold;
    font-size:40px;
    color: #3B5499;
}

.number .unity {
    color: #808999;
    font-size: 10px;
}

/* bootstrap surcharge */
.sidebar-nav {
    padding: 9px 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  color: #848484;
  font-weight: bold;
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #3F3F3F;

}

