<div class="span12" ng-controller="MonitorInfoCtrl">
    <div ng-switch="error != null">
        <div ng-switch-when="true">
            <div class="alert alert-error pull-left">
                {{monitorInfo.error}}
            </div>
        </div>

        <div ng-switch-when="false">
            <tabs>
                <pane title="Stats">
                    <div class="span3 number">
                        <span class="num">{{monitorInfo.Keyspace.db0.keys}}</span> <span class="unity">keys</span>
                    </div>
                    <div class="span3 number">
                        <span class="num">{{monitorInfo.Memory.used_memory_human}}</span> <span class="unity">memory used</span>
                    </div>
                    <div class="span3 number">
                        <span class="num">{{monitorInfo.Clients.connected_clients}}</span> <span class="unity">clients connected</span>
                    </div>
                    <div class="span3 number">
                        <span class="num">{{monitorInfo.Server.uptime_in_days}}</span> <span class="unity">days</span>
                    </div>

                    <div class="row">
                        <div class="pie span6" title="Stats" id="stats" items="stats"></div>
                        <div class="pie span6" title="Memory" id="memory"  items="memoryValues"></div>
                    </div>

                    <div class="bar span11" title="Commands" id="cmd" categories="cmd.categories" items="cmd.values"></div>
                </pane>

                <pane title="Monitoring">

                </pane>

                <pane title="System">
                        <table class="table table-hover">
                            <tr ng-repeat="(key, value) in monitorInfo.Server">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                </pane>
            </tabs>
        </div>
    </div>
</div>