<div class="span10" ng-controller="MonitorInfoCtrl">
    <div ng-switch="error != null">
        <div ng-switch-when="true">
            <div class="alert alert-error pull-left">
                {{monitorInfo.error}}
            </div>
        </div>

        <div ng-switch-when="false">
            <tabs>
                <pane title="Stats">
                    <div ng-controller="MonitorInfoCtrl">
                        <div class="span5"><div class="pie" title="Stats" id="stats" items="stats"></div></div>
                        <div class="span5"><div class="pie" title="Memory" id="memory"  items="memoryValues"></div></div>
                        <div class="span10"><div class="bar" title="Commands" id="cmd" categories="cmd.categories" items="cmd.values"></div></div>
                    </div>
                </pane>

                <pane title="Monitoring">

                </pane>

                <pane title="System">
                    <div  ng-controller="MonitorInfoCtrl">
                        <table class="table table-hover">
                            <tr ng-repeat="(key, value) in monitorInfo.Server">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                    </div>
                </pane>
            </tabs>
        </div>
    </div>
</div>